{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block main-content %}
<!-- 1st Product Slider -->
<div class="mx-3">
 <h2>Watches</h2>
 <!-- Slider 1 -->
 <div class="owl-carousel" id="slider1">
  {% for w in watches %}
  <a href="{% url 'product-detail' w.id %}" class="btn"><div class="item"><img src="{{w.product_image.url}}" alt="" height="200px"><span class="fw-bold">{{w.title}}</span><br><span class="fs-5">{{w.discounted_price}}</span></div></a>
  {% endfor %}
</div>
<!-- End 1st Product Slider -->

<!-- 2nd Product Slider -->
<div class="mx-3">
 <h2>Mobiles</h2>
 <!-- Slider 2 -->
 <div class="owl-carousel" id="slider2">
  {% for m in mobiles %}
  <a href="{% url 'product-detail' m.id %}" class="btn"><div class="item"><img src="{{m.product_image.url}}" alt="" height="200px"><span class="fw-bold">{{m.title}}</span><br><span class="fs-5">{{m.discounted_price}}</span></div></a>
  {% endfor %}
</div>
<!-- End 2nd Product Slider -->

<!-- 3rd Product Slider -->
<div class="mx-3">
 <h2>Headphones</h2>
 <!-- Slider 3 -->
 <div class="owl-carousel" id="slider3">
  {% for h in headphones %}
  <a href="{% url 'product-detail' h.id %}" class="btn"><div class="item"><img src="{{h.product_image.url}}" alt="" height="200px"><span class="fw-bold">{{h.title}}</span><br><span class="fs-5">{{h.discounted_price}}</span></div></a>
  {% endfor %}
</div>
<!-- End 3rd Product Slider -->

{% endblock main-content %}

